* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebe3cd;
}
.section-1 {
  position: relative;
}
.logo {
  height: 24px;
}
.container {
  padding: 50px;
  /* width: 1356px; */
  margin: 100px auto;
}

nav {
  border-radius: 33px;
  background-color: #12202f;
  display: flex;
  justify-content: space-between;
  padding: 10px 55px;
  align-items: center;
}
.nav-ul {
  display: flex;
  list-style-type: none;
  gap: 80px;
}
li {
  font-size: 17px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.sign-up {
  font-size: 17px;
  line-height: 35px;
  color: #6bb99c;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  text-decoration: none;
}
.col-50 {
  width: 50%;
}
.section-eat {
  font-size: 81px;
  color: #12202f;
  font-weight: 900;
  font-family: "Playfair Display";
  padding-top: 100px;
}
.section-restaurant {
  font-size: 29px;
  line-height: 40px;
  color: #12202f;
  font-weight: 700;
  font-family: "Montserrat";
  padding-top: 30px;
}
.lorem-1 {
  font-size: 18px;
  line-height: 31px;
  color: #12202f;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: left;
  padding-top: 10px;
}
.button-1 {
  border-radius: 28px;
  background-color: #df581e;
  font-size: 21px;
  line-height: 33px;
  color: #ebe3cd;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  padding: 5px 30px;
  margin-top: 30px;
  border: none;
}
.see-menu {
  font-size: 21px;
  line-height: 33px;
  color: #12202f;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  text-decoration: none;
  padding-left: 20px;
}

.img-wrapper div {
  position: absolute;
}
.img-1 {
  bottom: -220px;
  right: 80px;
  margin-bottom: 100px;
  z-index: 1;
}
.img-2 {
  top: 49%;
  right: 107px;
}
.img-3 {
  top: 49%;
  left: 49.5%;
}
.img-4 {
  top: 105px;
  right: 400px;
}
.img-5 {
  right: 909px;
  bottom: -112px;
}

.book {
  position: absolute;
  bottom: -49%;
  margin-bottom: 100px;
}
.Table {
  text-decoration: none;
  font-size: 21px;
  line-height: 33px;
  color: #12202f;
  font-weight: 700;
  font-family: "Montserrat";
}
.arrow-1 {
  height: 10px;
  margin-left: 10px;
}
.form {
  /* position: absolute; */
  margin-top: 100px;
  display: flex;
  justify-content: center;
  border-radius: 40px;
  filter: drop-shadow(-5.557px 5.755px 0px rgba(150, 137, 104, 0.09));
  background-color: #faf8ef;
  border: 1px solid #ffffff;
  /* bottom: -80%; */
  padding: 25px 40px;
  gap: 50px;
}
.date {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 21px;
  line-height: 33px;
  color: #12202f;
  font-weight: 700;
  font-family: "Montserrat";
}
input {
  font-size: 21px;
  line-height: 33px;
  color: #12202f;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  border-radius: 28px;
  background-color: #ebe3cd;
  border: 1px solid #12202f;
  padding: 20px 10px;
}
.aviability button {
  font-size: 21px;
  line-height: 33px;
  color: #ebe3cd;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  border-radius: 28px;
  background-color: #6bb99c;
  margin: 20px;
  width: 250px;
  height: 77px;
  margin-top: 30px;
}

.section-2 {
  margin-top: 100px;
}
.name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.p-orange {
  font-size: 29px;
  line-height: 40px;
  color: #eaa73b;
  font-weight: 400;
  font-family: "Montserrat";
  margin-bottom: 10px;
}
.title {
  font-size: 50px;
  color: #12202f;
  font-weight: 900;
  font-family: "Playfair Display";
}
.card-wrapper {
  display: flex;
  gap: 70px;
  margin: 100px 0;
}
.card {
  border-radius: 40px;
  filter: drop-shadow(-5.557px 5.755px 0px rgba(150, 137, 104, 0.09));
  background-color: #faf8ef;
  border: 1px solid #ffffff;
  text-align: center;
  padding: 30px 10px;
}
.card-h1 {
  font-size: 40px;
  color: #12202f;
  font-weight: 900;
  font-family: "Playfair Display";
  margin: 20px 0;
}
.card-p {
  font-size: 18px;
  line-height: 31px;
  color: #12202f;
  font-weight: 600;
  font-family: "Montserrat";
  margin-bottom: 20px;
}
.card-button {
  border-radius: 28px;
  background-color: #df581e;
  font-size: 21px;
  line-height: 33px;
  color: #ebe3cd;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  padding: 10px 40px;
  border: none;
}
.care-about-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.p-green {
  font-size: 29px;
  line-height: 40px;
  color: #6bb99c;
  font-weight: 400;
  font-family: "Montserrat";
}
.green-button {
  font-size: 21px;
  line-height: 40px;
  color: #ebe3cd;
  font-weight: 400;
  font-family: "Montserrat";
  border-radius: 28px;
  background-color: #6bb99c;
  padding: 5px 35px;
  border: none;
}
.col-50 {
  width: 50%;
  margin-top: 40px;
  z-index: 1;
}
.section-4 {
  position: relative;
  overflow: hidden;
}
.table div {
  position: absolute;
}
.table-1 {
  bottom: 145px;
  left: 95px;
}
.table-2 {
  right: 75px;
  bottom: 145px;
}
.table-3 {
  top: 60px;
  left: -100px;
}
.table-4 {
  top: 60px;
  right: -100px;
}
.col-40 {
  width: 40%;
}
.lorem-10 {
  font-size: 17px;
  line-height: 31px;
  color: #12202f;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: left;
  margin-top: 20px;
}
.button-read-more {
  font-size: 21px;
  line-height: 33px;
  color: #ebe3cd;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  border-radius: 28px;
  background-color: #df581e;
  padding: 10px 40px;
  border: none;
  margin-top: 30px;
}
.col-60 {
  width: 60%;
  margin-left: 100px;
}
.col-100 {
  display: flex;
  padding: 100px;
}
.img-illu {
  margin-left: 100px;
}
.section-5 {
  position: relative;
}
.absolute div {
  position: absolute;
}
.plant-1 {
  top: -70px;
  right: 35%;
}
.plant-2 {
  top: -130px;
  right: 100px;
}
.col-60-1 {
  width: 60%;
}
.col-40-1 {
  width: 40%;
  margin-top: 70px;
}
.green-read-more {
  border-radius: 28px;
  background-color: #6bb99c;
  font-size: 21px;
  line-height: 33px;
  color: #ebe3cd;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  border: none;
  padding: 10px 40px;
  margin-top: 30px;
}
.white-wrapper {
  border-radius: 78px;
  background-color: #faf8ef;
}
.words-from {
  font-size: 29px;
  line-height: 40px;
  color: #6bb99c;
  font-weight: 400;
  font-family: "Montserrat";
  margin-top: 100px;
}
.img-illu-1 {
}
.section-7 {
  position: relative;
}
.spoon {
  top: 16%;
  right: 41%;
}
.what-our {
  text-align: center;
}
.p-what-our {
  font-size: 29px;
  line-height: 40px;
  color: #df581e;
  font-weight: 400;
  font-family: "Montserrat";
}
.review {
  border-radius: 40px;
  filter: drop-shadow(-5.557px 5.755px 0px rgba(150, 137, 104, 0.15));
  background-color: #faf8ef;
  border: 2px solid #ffffff;
}
