* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet Ms", sans-serif;
}

header {
  background-color: black;
  /* text-indent: 80px; */
  height: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 90px;
  position: sticky;
  top: 0;
}
.logo-1 {
  height: 50px;
  width: 50px;
}
.link-1 {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 12px;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet Ms", sans-serif;
}
.link-1:first-of-type {
  margin-left: 40px;
}
.button-1 {
  color: white;
  background: rgba(255, 255, 255, 0.17);
  padding: 14px 12px;
  line-height: 16px;
  margin: 10px;
  margin-left: 650px;
  border: 0;
}
.button-2 {
  color: #000000;
  background: #ffffff;
  padding: 14px 12px;
  line-height: 16px;
  margin: 10px;
  border: 0;
}
#section-1 {
  height: 350px;
  width: 100%;
  background-image: url(../../images/hero-banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position-y: 45%;
}
.heading {
  color: #ffffff;
  max-width: 320px;
  text-align: left;
  position: absolute;
  top: 20vh;
  left: 16.5%;
  letter-spacing: -1px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
  margin-top: 20px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet Ms", sans-serif;
}
.div-1 {
  width: 1100px;
  padding: 24px;
  margin: 0 auto;
}
.div-2 {
  display: flex;
  justify-content: space-between;
  background-color: #f2f4f6;
  padding: 24px;
  width: 100%;
}
.div-3 {
  padding-top: 15px;
}
#location {
  padding: 20px;
  width: 31%;
  border: 0;
}
#location:after {
  content: "";
  width: 10px;
  height: 5px;
  background-color: black;
}
#destination {
  padding: 20px;
  width: 31%;
  border: 0;
}
.search {
  padding: 20px;
  width: 31%;
  border: 0;
  background-color: black;
  color: white;
  background-image: url(../../images/ola_cabs_back.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -3px 3px 0 #32c86e;
}
.green-banner {
  width: 100%;
  height: auto;
}
.div-4 {
  width: 100%;
}
.para-1 {
  font-size: 48px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet Ms", sans-serif;
  letter-spacing: -1px;
  margin-bottom: 50px;
  color: #000000;
  text-align: center;
  padding-top: 80px;
  text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
}
/* .img-1 {
  width: 50px;
  height: 50px;
} */
.card img {
  width: 30%;
  height: auto;
}
.card .img-2 {
  /* height: 134px; */
  width: 184px;
}
/* .img-3 {
  width: 50px;
  height: 50px;
}  */
.div-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 33%;
  /* align-items: center;
  justify-content: center; */
  text-align: center;
}
.card-heading {
  color: #212026;
  margin: 10px 0;
  font-weight: 1100;
  line-height: 32px;
  font-size: 40px;
  padding-top: 40px;
}
.card-title {
  color: #212026;
  margin: 10px 0;
  font-weight: 700;
  line-height: 32px;
  font-size: 28px;
  padding-top: 10px;
}
.card-content {
  color: #212026;
  opacity: 0.64;
  max-width: 60%;
  margin: auto;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}
#section-2 {
  background-color: black;
}
.s1 {
  color: #ffffff;
  text-shadow: 1.152px 1.152px 0px #000000, 1.728px 1.728px 0px #92c83e;
  margin-bottom: 50px;
  letter-spacing: -1px;
  font-weight: 800;
  font-size: 48px;
  margin-top: 80px;
}
.s1-sport {
  width: 100%;
  height: auto;
}
.hyper-mode {
  color: #ffffff;
  opacity: 0.64;
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
}
.div-class {
  width: 100%;
}
.div-p {
  width: 37%;
}
